/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900

*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--color-pale-blue);
  background-image: url(./pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.card {
  max-width: 40rem;
  margin: 20rem auto;
  /* border: 1px solid red; */
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 5px 20px 35px 5px rgba(0, 0, 0, 0.141);
}

.hero-img {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.details-container {
  padding: 4.5rem;
}

.details-container h2 {
  font-size: 2.6rem;
  font-weight: 900;
  text-align: center;
  color: var(--color-dark-blue);
  margin-bottom: 1.5rem;
}

.desc {
  font-size: 1.6rem;
  color: var(--color-desaturated-blue);
  text-align: center;
  margin-bottom: 2rem;
}

.plan-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-very-pale-blue);
  border-radius: 1.2rem;
  padding: 2rem 1.5rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}
.inner-div {
  display: flex;
  gap: 1.5rem;
}

.plan {
  font-weight: 800;
  margin-bottom: 0.4rem;
  color: var(--color-dark-blue);
}

.price {
  color: var(--color-desaturated-blue);
}

.button-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-payment {
  border-style: none;
  color: var(--color-pale-blue);
  background-color: var(--color-bright-blue);
  display: block;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 500ms;
  box-shadow: 0px 5px 25px 0px rgba(48, 48, 48, 0.48);
}

.btn-payment:hover {
  background-color: #5f50ff;
  transform: translateY(-5px);
}

.btn-cancel {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  display: inline-block;
  font-weight: 700;
  color: var(--color-desaturated-blue);
  cursor: pointer;
  transition: all 500ms;
}

.btn-cancel:hover {
  color: black;
}

.change-link {
  transition: all 500ms;
  cursor: pointer;
  font-weight: 700;
  color: var(--color-bright-blue);
}

.change-link:hover {
  text-decoration: none;
  /* color: var(--color-dark-blue); */
  color: #5f50ff;
}

@media only screen and (max-width: 375px) {
  .card {
    margin: 6rem 1rem;
  }

  .details-container {
    padding: 3.5rem 2.5rem;
  }
}
