/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900

*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  max-width: 40rem;
  margin: 20rem auto;
  border: 1px solid red;
}

.hero-img {
  width: 100%;
}

.plan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
